<div class="container">

  <div class="hidden">
    <div id="season" data-year="2015"></div>
  </div>

  <!-- <%= image_tag "nfl/afc/west/broncos.png" %>
  <%= asset_path "nfl/afc/west/broncos.png" %> -->
  <img class="game-logo" src="<%= Team.first.logo %>" alt="Description" height="32">
  <div class="container">
    <h2>NFL Seasons</h2>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Year</th>
          <th>Weeks</th>
        </tr>
      </thead>
      <tbody>
        <% @sport.seasons.each do |season| %>
          <tr>
            <td><a href="/admin/nfl/<%= season.year %>"><%= season.year %></a></td>
            <td><%= season.weeks.length %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h4>Actions</h4>
      <a id="build_seasons_matchups" class="btn btn-success">Build Matchups</a>
      <a id="build_seasons_results" class="btn btn-success">Build Results</a>
    </div>
  </div>

</div>
