<div class="game-at">@</div>
<div class="game-select-performance game-select-away pointer" data-performance-id="<%= game.away_performance.id %>" data-name="<%= game.away_team.name %>" data-location="<%= game.away_team.location %>" data-spread="<%= game.away_performance.spread %>" data-logo="<%= game.away_team.logo %>" data-toggle="modal" data-target="#game-select">
  <img class="game-logo" src="<%= game.away_team.logo %>" alt="Description" height="32">
  <h6>
    <%= game.away_team.name %><br>
    <%= game.away_performance.present_record.split.join(' - ') %>
    <% if show_spread %>
    <hr>
    <%= game.away_performance.spread %>
    <% end %>
    <% if game.away_performance.total && show_result %>
    <hr>
    <p class="result <%= game.away_performance.spread_result %>">
      <%= game.away_performance.total %>
    </p>
    <% end %>
  </h6>

  <% game.away_performance.is_a_pick %>
  <div class="gradient win game-performance-gradient game-home-gradient">
    <h5 class="bottom-text">
      <% if current_user && current_user.picks.find_by_performance_id(game.away_performance.id) %>
        Your Lock
      <% elsif User.first && User.first.picks.find_by_performance_id(game.away_performance.id)  %>
        Weekly Lock
      <% end %>
    </h5>
    <!-- <p class="readable-descripton">
      <% if game.home_performance.spread == 0 %>
      To beat the <%= game.away_team.location %> <%= game.away_team.name %>.
      <% elsif game.home_performance.spread < 0 %>
      To beat the <%= game.away_team.location %> <%= game.away_team.name %> by <%= game.away_performance.spread %> point<%= 's' if game.away_performance.spread.to_int != 1 %>.
      <% else %>
      To hold the <%= game.away_team.location %> <%= game.away_team.name %> to <%= game.home_performance.spread %> point<%= 's' if game.home_performance.spread.to_int != 1 %>.
      <% end %>
    </p> -->
  </div>


  <div class="gradient game-performance-gradient game-home-gradient">
    <h5><%= game.home_team.location %><br><%= game.home_team.name %></h5>
    <p class="readable-descripton">
      <% if game.home_performance.spread == 0 %>
      To beat the <%= game.away_team.location %> <%= game.away_team.name %>.
      <% elsif game.home_performance.spread < 0 %>
      To beat the <%= game.away_team.location %> <%= game.away_team.name %> by <%= game.away_performance.spread %> point<%= 's' if game.away_performance.spread.to_int != 1 %>.
      <% else %>
      To hold the <%= game.away_team.location %> <%= game.away_team.name %> to <%= game.home_performance.spread %> point<%= 's' if game.home_performance.spread.to_int != 1 %>.
      <% end %>
    </p>
  </div>
</div>

<div class="game-select-performance game-select-home pointer" data-performance-id="<%= game.home_performance.id %>" data-name="<%= game.home_team.name %>" data-location="<%= game.home_team.location %>" data-spread="<%= game.home_performance.spread %>" data-logo="<%= game.home_team.logo %>" data-toggle="modal" data-target="#game-select">
  <img class="game-logo" src="<%= game.home_team.logo %>" alt="Description" height="32">
  <h6>
    <%= game.home_team.name %><br>
    <%= game.home_performance.present_record.split.join(' - ') %>
    <% if show_spread %>

    <hr>
    <%= game.home_performance.spread %>
    <% end %>
    <% if game.home_performance.total && show_result%>
    <hr>
    <div class="result <%= game.home_performance.spread_result %>">
      <%= game.home_performance.total %>
    </div>
    <% end %>
  </h6>

  <div class="gradient  game-performance-gradient game-away-gradient">
    <h5><%= game.away_team.location %><br><%= game.away_team.name %></h5>
    <p class="readable-descripton">
      <% if game.away_performance.spread == 0 %>
      To beat the <%= game.home_team.location %> <%= game.home_team.name %>.
      <% elsif game.away_performance.spread < 0 %>
      To beat the <%= game.home_team.location %> <%= game.home_team.name %> by <%= game.home_performance.spread %> point<%= 's' if game.home_performance.spread.to_int != 1 %>.
      <% else %>
      To hold the <%= game.home_team.location %> <%= game.home_team.name %> to <%= game.away_performance.spread %> point<%= 's' if game.away_performance.spread.to_int != 1 %>.
      <% end %>
    </p>
  </div>
</div>
<!-- </div> -->
